:root {
  box-sizing: border-box;
  font-size: 0.8rem;
}
*,
::after,
::before {
  box-sizing: inherit;
}
body {
  background: linear-gradient(180deg, hsl(214, 47%, 23%), hsl(237, 49%, 15%))
    no-repeat;
  padding: 2em 3em;
}
.header {
  padding: 1em;
  width:26em;
  margin: 2em auto;
  border: 2px solid;
  display: flex;
  font-size: 0.7rem;
  color: #fff;
  justify-content: space-between;
}
.heading{
  line-height: .16em;
}
.score{
  background-color: #fff;
  color: #000;
  padding: .6em;
}
.icon--paper{
  background: url(images/icon-paper.svg) no-repeat center center;
  border: 1em solid hsl(230, 89%, 62%) ;

  
}
.icon--scissors{
  background: url(images/icon-scissors.svg) no-repeat center center;
  border: 1em solid hsl(39, 89%, 49%);

  
}
.icon--rock{
  background: url(images/icon-rock.svg) no-repeat center center;
  border: 1em solid hsl(349, 71%, 52%);
  
}
.icon{
width:4em;
height: 4em;
display: inline-block;
padding:3em; 
background-size: 3em;
background-color: #fff;
border-radius: 50%;
}
.main__inner{
  background-image: url(./images/bg-triangle.svg);
  background-repeat: no-repeat;
  background-position:  center center;
  background-size: 10em;
}
.flex-1{
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}
.flex-2{
 
  display: flex;
  justify-content: center;
}

footer{
  margin-top: 2em;
  text-align: center;
}
.btn{

  background-color: #fff;
  border: 1px solid;
  padding: .5em 1.8em;
  text-transform: uppercase;
  outline: 0;

}
.btn--primary{
  background-color: transparent;
  border-color: #fff;
  color:#fff;
  border-radius: 6px;
}